.tag{ /*Style des tags*/
    background-color: var(--color-main);
    border-radius: 10px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;    
}

.content__tag{ /*Style du contenu*/
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    padding: 28px;
}

/* ====================== MEDIA QUERIES (SMARTPHONES) ===================== */
@media only screen and (max-width: 600px) {
    .tag {
        border-radius: 5px;
        height: 18px;
        margin-bottom: 10px;
    }

    .content__tag {
        font-size: 11px;
    }
}