.tag{
    background-color: var(--color-main);
    border-radius: 10px;
    width: 115px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;    
}

.content__tag{
    color: var(--color-white);
    margin: 0;
    font-size: 14px;
    font-weight: 200;
}