.stars{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}



@media only screen and (max-width: 600px) {
    .stars {
        width: 18px;
        height: 18px;
        margin-top: 0;
    }
}