.collapse {
    margin-top: 30px;
}

.collapse__header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--color-main);
    color: var(--color-white);
    border-radius: 5px;
    height: 47px;
    padding: 1.5rem 1rem;
    
}

.collapse__title {
    font-weight: 400;
    font-size: 24px;
}

.collapse__content {
    background: var(--color-gallery);
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    padding: 35px 20px 20px 20px;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    
    .collapse__header {
        height: 20px;
        padding: 1.1rem 1.1rem;
    }


    .collapse__title {
        font-size: 16px;
    }

    .collapse__content {
        font-size: 14px;
        padding: 20px 10px 5px 10px;
    }
    
    .collapse__arrowImg {
        width: 20px;
        height: 12px;
    }
}