.logo {
    width: 210px;
    height: 68px;
}

.header__container {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 1242px) {
    .header__container {
        margin: 5%;
    }
}


ul {
    display: flex;
    flex-direction: row;
}
li {
    display: flex;
    flex-direction: row;
    color: var(--color-main);
    font-size: 24px;
    margin: 17px 0px 17px 57px;
}

li:hover {
    text-decoration: underline;
}
li:visited {
    text-decoration: none;
}




/* ====================== MEDIA QUERIES (TABLETTES) ===================== */

@media screen and (max-width: 1024px) {
 
}

/* ====================== MEDIA QUERIES (SMARTPHONE) ===================== */

@media screen and (max-width: 600px) {
    
}
