.logo {
    height: 68px;
}

.header__container {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.navigation {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: row;
    color: var(--color-main);
    font-size: 24px;
    margin: 17px 0px 17px 57px;
}

.nav:hover {
    text-decoration: underline;
}

.nav:visited {
    text-decoration: none;
}

.underline {
    border-bottom-width: 2px;
}



/* ====================== MEDIA QUERIES (TABLETTES) ===================== */

@media screen and (max-width: 1024px) {
 
}


@media screen and (max-width: 640px) {
    .img__logo {
        width: 145px;
        height: 47px;
    }
    .navigation {
        gap: 15px;
    }
    .nav {
        margin: 17px 0 10px 0;
        font-size: 12px;
        text-transform: uppercase;
    }
}

/* ====================== MEDIA QUERIES (SMARTPHONE) ===================== */

@media only screen and (max-width: 600px) {
    
    .header__container {
        margin: 5%;
    }
}