.gallery__container { /*Conteneur général*/
    width: 100%;
    padding: 30px 10px 30px 10px;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: var(--color-gallery);
}



/* ====================== MEDIA QUERIES (TABLETTES) ===================== */
@media (min-width: 601px) and (max-width: 1300px) {
    .gallery__container { /*Disparition du boder-radius sur tablettes*/
        border-radius: 0;
    }
}

/* ====================== MEDIA QUERIES (SMARTPHONE) ===================== */
@media only screen and (max-width: 600px) {
    
    .gallery__container {
        background: var(--color-white); /*Modification de la couleur couleur d'arrière plan sur Smartphones*/ 
        padding: 0;
        margin: 2% 5%;
        width: auto;
    }
}
