.gallery__container { /*Conteneur général*/
    width: 100%;
    padding: 30px 10px 30px 10px;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: var(--color-gallery);
}

.container__card { /*Conteneur des vignettes*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery__card { /*Vignettes*/
    display: flex;
    position: relative;
    margin: 20px 20px 20px 20px;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.gallery__card h3{ /*Titre de chaque vignette*/
    position: absolute; /*Permet de positionner le titre*/
    bottom: 0.5rem;
    left: 0.5rem;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-white);
}

.gallery__card-image { /*Sytle de l'image*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.gradient__card { /*Calque pour appliquer le dégradé et assombrir l'image pour facilité la lecture du titre*/
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-card);
    border-radius: 10px;
}

.gallery__card:hover { /*Effet de de zoom et d'ombre au survol de la souris*/
    transition: transform 0.25s ease;
    transform: scale(1.04);
    transition-duration: 0.25s;
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* ====================== MEDIA QUERIES (TABLETTES) ===================== */
@media (min-width: 601px) and (max-width: 1300px) {
    .gallery__container { /*Disparition du boder-radius sur tablettes*/
        border-radius: 0;
    }

    .container__card {
        margin: 3px;
    }

    .gallery__card {
        margin: 20px 2%;
    }
}

/* ====================== MEDIA QUERIES (SMARTPHONE) ===================== */
@media only screen and (max-width: 600px) {
    
    .gallery__container {
        background: var(--color-white); /*Modification de la couleur couleur d'arrière plan sur Smartphones*/ 
        padding: 0;
        margin: 2% 5%;
        width: auto;
    }

    .gallery__card { 
        height: 100% !important; /*Permet aux vignettes de prendre tout l'espace disponible*/
        width: 100% !important;
        margin: 9px 0;

    }
}
