.carousel{/*Carrousel d'image de la page logement*/
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
 
.arrows{/*Permet de gérer l'emplacement des flèches*/
  display: flex;
  align-items: center;
}

.arrow{/*Style des flèches*/
  color: var(--color-white);
  position: absolute;
  cursor: pointer;
  width: 47px;
  height: 79px;
}

.left{/*Positionnement individuel des flèches*/
  left: 0;
  margin-left: 15px
}

.right{/*Positionnement individuel des flèches*/
  right: 0;
  margin-right: 15px;
}

.img__carousel{/*Style de l'image*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
}

.number__pictures {/*Style de l'indicateur du nombre d'image disponible*/
  position: absolute;
  color: var(--color-white);
  bottom: 25px;
}

/* ====================== MEDIA QUERIES (SMARTPHONES) ===================== */

@media only screen and (max-width: 600px) {    
  .carousel {
      height: 255px;
  }

  .img__carousel {
    border-radius: 10px;
  }

  .arrow {
    width: 12px;
    height: 20px;
  }

  .number__pictures {/*L'indicateur du nombre d'image disparaît sur mobile*/
    color: transparent;
  }
}