@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-main:#FF6060;
    --color-white: #FFFFFF;
    --color-card: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    --color-background: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300));
    --color-footer: #000000;
    --color-collapse: #F6F6F6;
    --color-gallery: #F7F7F7;

    --transition: all 400ms ease;

    --container-width-lg: 1240px;
    --container-width-md: 86%;
    --container-width-sm: 95%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-main);
}

.main {
    flex-grow: 1;
    min-height: 90vh;
}

.App {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

.container {
    max-width: var(--container-width-lg);
    margin: auto;
}



a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}



/* ====================== MEDIA QUERIES (TABLETTES) ===================== */




@media only screen and (max-width: 600px) {
    
    main {
        padding: 0;
    }
    }