.banner__container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 223px;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url(../../assets/ImgHomeDesk.png);
    border-radius: 25px;
}


.text__banner {
    color: var(--color-white);
    font-size: 48px;
    line-height: 68px;
    font-weight: 400;
}

.about__banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url(../../assets/ImgAboutDesk.png);

}


/* ====================== MEDIA QUERIES (TABLETTES) ===================== */

@media (min-width: 601px) and (max-width: 1300px) {
    .banner__container {
        margin: 4%;
    }
}
@media  screen and (max-width: 1024px) {
   .text__banner {
       font-size: 40px;
   }
   }
   
   /* ====================== MEDIA QUERIES (SMARTPHONE) ===================== */
   
   @media  screen and (max-width: 600px) {
    .text__banner {
        font-size: 24px;
    }
    .banner__container {
        height: 111px;
        margin: 5%;
        border-radius: 10px;
    }
   }
   
   @media  screen and (max-width: 600px) {
    .banner__container {
        background-size: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url(../../assets/ImgHomeMobile.png);
        justify-content: flex-start;
        text-align: left;
    }
    .text__container {
        margin: 5%;
        width: 62%

    }
    .text__banner {
        line-height: 30px;
        font-weight: 400;
    }
   }