.container__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
}

.error {
    font-weight: 700;
    font-size: 288px;
}
.message__error {
    font-size: 36px;
    line-height: 100px;
}

.link__error {
    font-size: 18px;
    color: var(--color-main);
    margin-top: 150px;
    text-decoration: underline;
}


@media only screen and (max-width: 900px) {
    .error {
        font-size: 220px;
    }   

    .message__error {
        font-size: 27px;
    }

}


@media only screen and (max-width: 600px) {
    .container__error {
        margin-top: 70px;
        margin-bottom: 0px;
    }
    .error {
        font-size: 96px;
    }   

    .message__error {
        font-size: 18px;
        line-height: 30px;
        width: 60%;
    }

    .link__error {
        font-size: 15px;
        margin-top: 90px;
    }
}