.container__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
}

.error {
    font-weight: 700;
    font-size: 288px;
}
.message__error {
    font-size: 36px;
    line-height: 100px;
}

.link__error {
    font-size: 18px;
    color: var(--color-main);
    margin-top: 150px;
    text-decoration: underline;
}
